node_modules
.DS_Store
.pnpm-store
dist
dist-ssr
*.local
.env*
!.env.example
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# turbo
.turbo

# Open Design working files
.od-skills/

# typescript
*.tsbuildinfo
